.Notifications {
	border: 3px dotted red;
	padding: 6px 12px;
	position: relative;
	margin-top: 12px;
}

.Notifications p {
  margin: 0;
  margin-top: 15px;
}

[data-notification-type="default"] {
        color: blue;
}

[data-notification-type="urgent"] {
        color: red;
}
